# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @Medini-Aithal @raamvar @mukundaraogummadi-pins

# Protect important folders

# Configuration files
/data-lake/**                                                   @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @mukundaraogummadi-pins

# Pipeline configuration files
/pipelines/**                                                   @m-juckes-pins @Medini-Aithal @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @mukundaraogummadi-pins

# Add protection for certain file extensions
*.json                                                          @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @mukundaraogummadi-pins
*.yml                                                           @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @mukundaraogummadi-pins
*.yaml                                                          @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @mukundaraogummadi-pins
